.column
{
    float:left;
    width:50px;
    padding:10px;
    height:20px;
    margin-left:10px;
}

.row:after{
    content:"";
    display:table;
    clear:both;
}

.hero-image {
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
   url(../images/driver-using-mobile-phone-navigation_53876-95136.webp);
  
   min-height:60vh;
   position:relative;
   background-repeat: no-repeat;
   background-size: cover;
   background-position:right center;
   
}

.bookingTextForm{
  color:white;
  
}

.formColour
{
  background-color:  hsla(0, 0%, 0%, 0)
}

.bookingContainer
{
  width:50%;
  margin-top:100px;
}
