h1
{
    display: inline;
}

.nav-bar-btn
{
    margin-left: 1em;
    margin-top: 0.25em;
    border-width: 2px;
}

.links
{
    float: right;
}

.btn-outline-light
{
    font-size: 17px;
    font-weight: 500;
}

.splash-container
{
    display: block;
}

.splash-container h1
{
    padding-top: 100px;
}

.splash-screen-img
{
    margin-left: -0.75em;
    width: 2048px;
    height: 512px;
    object-fit: cover;
    display: inline;
}

.item
{
    position: relative;
    margin-left: -0.75em;
    margin-right: -0.75em;
}

.item-background
{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.item-foreground
{
    position: absolute;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 27.5em;
    padding-bottom: 0em;
}

.item-subtitle
{
    position: relative;
    font-weight: bolder;
}

.img-darken
{
    transition: 1s;
    filter: brightness(25%);
}

.item-foreground .item-subtitle
{
    transition: 1s;
    font-weight: bolder;
    color: transparent;
}

.item-foreground:hover .item-subtitle
{
    font-weight: bolder;
    color: wheat;
    text-shadow: 1px 1px 2px #000000;
    text-rendering: optimizeLegibility;
}

.btn-block
{
    margin-left: -0.75em;
    width: 101.25%;
    height: 100px;
}

.display-3
{
    font-weight: 400;
}

.carousel-item
{
    width: 100%;
    height: 512px;
    object-fit: cover;
}

.img-1
{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 50%;
}

.img-2
{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 50%;
}

.img-3
{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 50%;
}

.reviews
{
    margin-top: 1em;
    margin-left: -0.75em;
}

.TriImage
{
    display: block;
}

.TriWrapper
{
    margin-top: 4em;
    display: flex;
    justify-content: center;
    padding-left: 8em;
}

.textSubtitles
{
    padding-top: 1em;
    padding-left: 15.5em;
    width: 2048px;
}

.Text
{
    float: left;
    width: 550px;
}

.card
{
    margin-bottom: 0.05em;
}