.red
{
    color:red;
}


.wrapper
{
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    
    border:2px solid cadetblue
}

.center
{
    position:relative;
}