h1
{
    text-align: Left;
    margin-top: -0.5em;
    display: block;
}


.modal-header {
    background: #F7941E;
    color: #fff;
    }


.ModalTicket{
    position: absolute;
    right: 5em;
    margin-top: 0em;
}

.required:after {
    content: "*";
    color: red;
    }